<ng-form name="form">
    <div class="row">
        <div class="column medium-5 push-1">
            <label>
                Password
                <input type="password" name="password" ng-model="user.password" required />
            </label>
            <label>
                Confirm password
                <input type="password" name="confirmPassword" ng-model="confirmPassword" required />
            </label>
            <button ng-disabled="!user.password || user.password.length < 8 || user.password != confirmPassword" ng-click="save()" class="radius tiny right">Save</button>
        </div>
        <div class="column medium-5 pull-1">
            <p>
                <i class="fa fa-circle-thin" ng-show="!user.password"></i>
                <i class="red fa fa-times-circle" ng-show="form.password.$dirty && user.password.length < 8"></i>
                <i class="green fa fa-check-circle" ng-show="form.password.$dirty && user.password.length >= 8"></i>
                Your password must be at least 8 characters long
            </p>
            <p>
                <i class="fa fa-circle-thin" ng-show="!user.password"></i>
                <i class="red fa fa-times-circle" ng-show="form.password.$dirty && user.password != confirmPassword"></i>
                <i class="green fa fa-check-circle" ng-show="form.password.$dirty && user.password == confirmPassword && user.password"></i>
                You must confirm your password
            </p>
        </div>
    </div>
</ng-form>